img {
    width: 100%;
}

.login {
    height: 900px;
    width: 100%;
    background: radial-gradient(#e8e3b7, #d8bb84);
    position: relative;
}

.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
}

.login_box .right {
    width: 59%;
    height: 100%
}

.left .top_link a {
    color: #ab7636;
    font-weight: 400;
}

.left .bottom_link {
    height: 20px
}

.left .bottom_link a {
    color: #ab7636;
    font-weight: 400;
}

.left .top_link {
    height: 20px
}

.left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3 {
    text-align: center;
    margin-bottom: 40px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 80px;
    background: #ab7636;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.button-group {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    padding: 15px 65px;
    background-color: #dcd7e0;
    color: black;
    border: none;
    cursor: pointer;
}

.custom-button {
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: box-shadow 0.3s;
}

.custom-button-sig {
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: box-shadow 0.3s;
}

.custom-button:active,
.custom-button:focus {
    box-shadow: -3px 0 0 #dcd7e0, 0 3px 0 #dcd7e0;
    outline: none;
}

.custom-button-sig:active,
.custom-button-sig:focus {
    box-shadow: 3px 0 0 #dcd7e0, 0 3px 0 #dcd7e0;
    outline: none;
}

.right {
    background: linear-gradient(212.38deg, rgba(171, 118, 54, 0.7) 0%, rgba(215, 175, 126, 0.71) 100%),url(https://thumbnails.production.thenounproject.com/ACXa3oUZWAQh92TuTZz_FhkyR7s=/fit-in/1000x1000/photos.production.thenounproject.com/photos/47A7AEDC-87D0-407A-A6D7-F2D022083932.jpg);
    color: #fff;
    position: relative;
}

.right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
}

.right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}

.top_link_1 img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
/*Extras*/
/*.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem
}*/

.top_link {
    width: 250px;
    padding-left: 0%;
    margin-top: -2px;
}

.bottom_link {
    position: absolute;
    bottom: 10px;
    padding-bottom: 7px;
    width: 100%;
}
